<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{% static 'css/loginpage.css'%}" rel="stylesheet">
  <style>
    .logincss{
      position:absolute;
      top:50px;
      left:42px;
     }
  </style>
</head>
<body>
<div class="container">
  <div class="screen">
    <div class="screen__content">
      <div class="logincss"><h2>User/Employment Login</h2></div>
      <form action="admin/" class="login" method="post">
        <div class="login__field">
          <i class="login__icon fas fa-user"></i>
          <input type="text" class="login__input" placeholder="User name / Email">
        </div>
        <div class="login__field">
          {% csrf_token %}
          <i class="login__icon fas fa-lock"></i>
          <input type="password" class="login__input" placeholder="Password">
        </div>
        <button class="button login__submit">
          <span class="button__text">Log In Now</span>
          <i class="button__icon fas fa-chevron-right"></i>
        </button>
      </form>
      <div class="social-login">
        <h3>log in via</h3>
        <div class="col-md-2 col-sm-6 footer-grid w3social">
          <a href="#"><i class="social-login__icon fab fa-instagram"></i></a>
          <a href="#"><i class="social-login__icon fab fa-facebook"></i></a>
          <a href="#"><i class="social-login__icon fab fa-twitter"></i></a>
        </div>
      </div>
    </div>
    <div class="screen__background">
      <span class="screen__background__shape screen__background__shape4"></span>
      <span class="screen__background__shape screen__background__shape3"></span>
      <span class="screen__background__shape screen__background__shape2"></span>
      <span class="screen__background__shape screen__background__shape1"></span>
    </div>
  </div>
</div>
</body>
</html>